<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Order Confirmation</title>
</head>

<body>
	<h1>Applicants Data</h1>
	<div>
		<strong>Name: </strong><%- name %><br>
		<strong>Age: </strong><%- age %><br>
		<strong>Favorite Team: </strong><%- favTeam %><br>
		<strong>About Yourself: </strong><%- aboutSelf %><br>
		<br>
	</div>
	<a href="/">HOME</a>
</body>

</html>