<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Find Fans</title>
</head>

<body>
	<h1>Find Fans From this team</h1>
	<form action="/findFans" method="post">
		<fieldset>

			<label>Team Name <input type="text" name="team"></label>
            
		</fieldset>

		<br>
		<input type="submit" value="Search">
	</form>
    <br>
	<a href="/">HOME</a>
</body>

</html>