<!doctype html>
<html lang="en">


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../stylesheets/home.css">
    <meta charset="utf-8" />
    <title>Home</title>
</head>

<body>
    <h1>Welcome to your NBA profile</h1>
    To VIEW your profile, <a href="/viewProfile">click here</a>
    <br>
    To CREATE a profile, <a href="/createProfile">click here</a>
    <br>
    To find all other people with the same favorite team, <a href="/findFans">click here</a>
</body>

</html>