<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Result</title>
</head>

<body>
	<h1>These are all the fans from the <%- team %></h1>
	<div>
		<%- fanList %>
	</div>
    <br>
    <a href="/">HOME</a>
</body>

</html>
