<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Find Profile</title>
</head>

<body>
	<h1>Find Profile</h1>
	<form action="/viewProfile" method="post">
		<fieldset>

			<label>Name: <input type="text" name="name"></label>
            
		</fieldset>

		<br>
		<input type="reset" >
		<input type="submit" value="Submit">
	</form>
	<br>
	<a href="/">HOME</a>
</body>

</html>